body {
  background-color: #3f2819;
  color: #fff;
}
/* Navbar */
.custom-navbar {
  padding: 15px 30px;
  direction: rtl;
   background: rgba(255, 255, 255, 0);  
    backdrop-filter: blur(10px);      
    -webkit-backdrop-filter: blur(6px);
}
.navbar {
    direction: ltr;
}
/* Logo */
.logo {
  font-family: "Amiri", serif;
  font-size: 22px;
  color: #d4af37 !important;
  font-weight: bold;
}

/* Nav Links */
.navbar-nav .nav-link {
  color: #ffffff !important;
  font-size: 15px;
  margin-left: 18px;
  transition: 0.3s;
}

.navbar-nav .nav-link:hover {
  color: #d4af37 !important; 
}

/* Buttons */
.login-btn {
  border: 1px solid #d4af37;
  color: #fff;
  margin-left: 18px;
}

.login-btn:hover {
  background: #d4af37;
  color: #000;
}

.signup-btn {
  border: 1px solid #d4af37;
  color: #fff;
  margin-left: 18px;
}

.signup-btn:hover {
  background: #b9922c;
  color: #000;
}

.hero-section {
  height: 900px;;  
  background-size:cover;
  padding-top: 90px; 
   background-position: center;
  background-repeat: no-repeat;
}


.hero-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 900px;
  background: rgba(0, 0, 0, 0.35); 
}

.hero-content {
    font-family: "Amiri", serif;
  font-weight: bold;
  font-size: 40px;
  color: white;
  text-align: right;
  padding: 80px 50px;
}

.hero-btn {
  background: #e2bf47;         
  padding: 12px 30px;
  border-radius: 8px;
  color: #000;                  
  text-decoration: none;
  font-size: 18px;
  display: inline-block;
  position: relative;
  z-index: 1;
}

.hero-btn:hover {
  background: #392a05;         
  color: #fff;                  
  transform: scale(1.010);       
}
/* الكونتاكت و الفوتر*/
.footer {
  background-color: #3b2416;
  padding: 40px 0;
  color: #f0e6d2;
  font-family: Arial, sans-serif;
}

.footer-container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contact-section ul {
  list-style: disc;
  padding-left: 10px;
  margin-top: 5px;
}
.contact-section a {
  color: white;       
  text-decoration: none;
}

.email-section {
  margin-top: 40px;
  font-size: 15px;
}

.logo-ar {
  font-family: 'Amiri', serif;
  font-size: 48px;
  color: #f8e4a8;
  font-weight: bold;
  margin-top: 20px;
}

.footer-bottom {
  text-align: center;
  margin-top: 40px;
  font-size: 14px;
  color: #e3d2bd;
}
.back_playing {
    background-image: url("../images/Egypt_\ A\ Land\ Where\ Civilization\ Was\ Born.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100%;
    height: 600px;      /* تقدري تغيريها */
    position: relative;
    border-radius: 10px;
}

.top-img {
    position: absolute;
    width: 250px;
    bottom: 60px;
    left: 170px;
    border-radius: 20px;
}

.text-over {
  z-index: 10;
    position:absolute;
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding-left: 60px;
    top: 250px;
    font-weight: bold;
    text-shadow: 0 0 12px black;
}
letters-box {
    position: absolute;
    top: 40%;
    left: 5%;
    width: 200px; /* ممكن تزودي أو تقللي */
    background: rgba(60, 40, 30, 0.85);
    padding: 15px;
    border-radius: 18px;
    color: #f7efe2; /* لون الكتابة */
    font-family: "Amiri" , serif;
    font-size: 20px;
    line-height: 1.5;
}
.letters-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5px;
}

.letters-grid .col div {
    margin-bottom: 5px;
    white-space: nowrap;
}

/* الصندوق اللي فيه المحتوى كله */
.right-box {
    width: 450px;                /* حجم الصندوق */
    padding: 30px;
    position: absolute;
    left: 750px;                /* يمين الصفحة */
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
    
    /* تأثير البلور الخلفي */
    background: rgba(110, 109, 109, 0.35); /* طبقة شفافة */
    backdrop-filter: blur(5px);     /* BLUR أساسي */
    -webkit-backdrop-filter: blur(5px);
     border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.2);
    box-shadow: 0 0 30px rgba(0,0,0,0.4);
}

/* عنوان */
.level-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* الرموز */
.symbols {
    font-size: 40px;
    margin-bottom: 25px;
}

/* الإنبوت */
.input-box {
    width: 100%;
    padding: 15px;
    border-radius: 12px;
    border: none;
    margin-bottom: 10px;
    font-size: 18px;
    direction: rtl;
}

/* ملاحظة */
.note {
    color: #ddd;
    font-size: 14px;
    margin-bottom: 20px;
}

/* زرار */
.result-btn {
    background-color: #c59612;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 12px;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 25px;
}

/* إنهاء المغامرة */
.end-link {
    color: #c59612;
    font-size: 18px;
    display: block;
    margin-top: 10px;
}
.game-footer {
    width: 100%;
    background: rgba(60, 40, 30, 0.85);  /* نفس درجة بوكس الحروف والسؤال */
    padding: 18px 0;
    margin-top: 0;
    display: flex;
    justify-content: center;
    font-family: "Amiri", serif;
    color: #f7efe2;
    border-top: 1px solid rgba(255, 230, 180, 0.25);
    backdrop-filter: blur(6px);
}

.footer-box {
    display: flex;
    gap: 35px;
    align-items: center;
    color: #f7efe2;
    font-size: 18px;            
    flex-wrap: wrap;
}

.footer-item span {
    opacity: 0.7;
    margin-left: 4px;
}

.footer-btn {
    padding: 10px 22px;
    background: #caa23a;
    color: #000;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

.footer-btn:hover {
    background: #d4af37;
}
.right-box2 {
    width: 450px;                /* حجم الصندوق */
    padding: 30px;
    position: absolute;
    left: 750px;                /* يمين الصفحة */
    top: 50%;
    transform: translateY(-50%);
    color:#3f2819 ;
    text-align: right;
       
}
.level-title2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #3f2819;
}
.symbols2 {
    font-size: 60px;
    margin-bottom: 25px;
     color: #3f2819;
    
}
.result-btn2 {
    background-color: #d3a31f;
    color: #3f2819;
    padding: 15px 30px;
    border: none;
    border-radius: 12px;
    font-size: 23px;
    cursor: pointer;
    margin-bottom: 15px;
}

/* إنهاء المغامرة */
.end-link2 {
    color: #3f2819;
    font-size: 27px;
    display: block;
    margin-top: 5px;
}